body{
    margin: 0%;
}

/* Desktop media query*/
@media screen and (min-width: 1200px) {
    body {
      background-color: blue;
      color: white;
    }





  }

/* Mobile media query */
@media screen and (max-width: 400px) {
    body {
      margin: 0%;
    }
    #left{
        width: 33px;
        height: 33px;
        margin-top: 2rem;
        margin-left: 0.5rem;
    }
    #icon-wrapper{
        margin-right: 5px;
        margin-left: 13px;
    }
    #right{
        width: 33px;
        height: 33px;
        margin-top: 2rem;
        margin-left: 0.3rem;
    }
    #logo{
        margin-left: 23px;
        margin-top: 0.8rem;
    }
    #kjønn{
        display: flex;
        border: 1px solid black;
        width: 388px;
        height: 41px;
    }
    #knapp{
        width: 331px; 
        height: 140px;
        cursor:pointer;
    }

    #knapp2 {
        width: 331px; 
        height: 140px;
        cursor:pointer;
    }


    #banner {
        display: flex;
        flex-direction: row;
        width: 390px;
        height: 100px;
        background-color: #F5F5F5;
    }
    #tekst-kjønn{
        margin-left: 45px;
    }
    #produktbilde-1{
        margin-bottom: 20%;
        border: 1px solid black;
        border-radius: 1%;
        height: 140px;
        width: 331px;
        margin: auto;
    }
    #p-tilbud{
        margin-top: 4px;
        text-align: center;
    }
    #p-tilbud:hover{
        margin-top: 4px;
        text-align: center;
        cursor:pointer;
    }
    #tilbud{
        border: 1px solid black;
        height: 31px;
        width: 388px;
    }
    #overskrift{
        font-size: 22px;
    }
    #grid{
        margin-bottom: 20%;
        border: 1px solid black;
        border-radius: 1%;
        height: 140px;
        width: 331px;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-columns: repeat(3, 1fr);
    }
    #child {
        background-color: #D9D9D9;
        border: 1px solid rgba(0, 0, 0, 0.8);
        margin-top: 20px;
        margin-left: 10px;
        width: 90px;
        height: 31px;
        text-align: center;
        font-weight: bold;
      }

      #section-carousel {
        margin-top: 13px;
        height: 140px;
        width: 331px;
        border: 1px solid black;
        border-radius: 2px;
        margin-left: 29px;

        display: inline-block;
        position: relative;
      }
      #bildeknapp {
        position: absolute;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        top: 80px;
        left: 290px;
        width: 50px;
        height: 50px;
        background-color: #D9D9D9;
        border-radius: 100%;
        border: 0px solid white;
      }
      #first-dot {
        position: absolute;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        top: 124px;
        left: 170px;
        width: 20px;
        height: 20px;
        background-color: #D9D9D9;
        border: 1px solid black;
        border-radius: 100%;
      }
      #second-dot {
        position: absolute;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        top: 124px;
        left: 143px;
        width: 20px;
        height: 20px;
        background-color: #D9D9D9;
        border: 1px solid black;
        border-radius: 100%;
      }
      #third-dot {
        position: absolute;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        top: 124px;
        left: 197px;
        width: 20px;
        height: 20px;
        background-color: #D9D9D9;
        border: 1px solid black;
        border-radius: 100%;
      }

      #first-dot-black {
        position: absolute;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        top: 124px;
        left: 170px;
        width: 14px;
        height: 14px;
        background-color: #000000;
        border: 1px solid black;
        border-radius: 100%;
      }
      #second-dot-black {
        position: absolute;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        top: 124px;
        left: 143px;
        width: 14px;
        height: 14px;
        background-color: #000000;
        border: 1px solid black;
        border-radius: 100%;
      }
      #third-dot-black {
        position: absolute;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        top: 124px;
        left: 197px;
        width: 14px;
        height: 14px;
        background-color: #000000;
        border: 1px solid black;
        border-radius: 100%;
      }





  }