body{
    margin: 0%;
}

@font-face {
  font-family: "Inter";
  src: url('./Font/Inter-VariableFont_slnt\,wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

/* Desktop media query*/
@media screen and (min-width: 1024px) and (min-height: 768px) {
    body {
    margin: 0%;
    }

   /*Desktop forside CSS*/
   
    #grid-div-container {
      display: grid;
      grid-template-areas: "tilbud tilbud tilbud"
                            "nav nav header"
                            "main main main"
                            "footer footer footer";
     grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
      grid-gap: 0px; /* Adjust the gap between columns as needed */
    }

    #tennissko1 {
       width: 420px;
       height: 190px;
    }

    #tennissko2 {
      width: 420px;
      height: 190px;
    }

    #footer-tekst {
      font-family: "Inter", sans-serif;
      font-size: 18px;
      margin-left: 9%;
      margin-top: 1%;
    }

    #forside-footer {
      display: flex;
      gap: 80px;
      margin-top: 0%;
      width: 100%;
      height: 110px;
      background-color: #D9D9D9;
    }

    #to-store-bilder {
      display: flex;
      margin-top: 1%;
      margin-left: 3%;
      gap: 12%;
    }

    #tursko1 {
      width: 253px;
      height: 93px;

    }
    #tursko2 {
      width: 253px;
      height: 93px;
    }
    #joggesko1 {
      width: 253px;
      height: 93px;
    }
    #joggesko2 {
      width: 213px;
      height: 93px;
    }
    #øvre-footer-bilde {
      display: none;
    }
    #nedre-footer-bilde {
      display: none;
    }

    #desktop-bilde-section {
      display: flex;
      margin-top: 1%;
      margin-left: 1%;
      gap: 1%;
    }

    #desktop-knapp-bilde {
         display: flex;
         gap: 6%;
         margin-left: 88%;
    }
    #rund-sirkel1 {
        border: 1px solid black;
        border-radius: 100%;
        background-color: #EBEBEB;
        width: 30px;
        height: 30px;
    }
    #venstrepil {
      height: 40px;
      width: 40px;
      top: -5px;
      transform: translateX(-5px);
      position: relative;
    }
    #høyrepil {
      height: 40px;
      width: 40px;
      padding-left: 5%;
      margin-top: 1%;
      top: -5px;
      transform: translateX(-3px);
      position: relative;
    }
    #rund-sirkel2 {
      border: 1px solid black;
      border-radius: 100%;
      background-color: #EBEBEB;
      width: 30px;
      height: 30px;
    }

    #grid {
      display: none;
    }
    #glass2 {
      margin-left: 1%;
      margin-top: 2.8%;
    }
    #left {
      margin-left: 5%;
      margin-top: 3%;
    }
    #icon-wrapper {
      display: flex;
    }
    #right1 {
      margin-left: 1%;
      margin-top: 13%;
    }
    #right3 {
      margin-left: 1%;
      margin-top: 13%;
    }
    #input {
      margin-top: 2.5%;
      width: 130px;
      height: 30px;
    }
    #banner {
      display: flex;
      border: 1px solid black;
      border-left: none;
      width: 100%;
      background-color: #D9D9D9;
    }
    #kjønn {
      display: flex;
      border: 1px solid black;
      background-color: #D9D9D9;
      height: 50px;
      width: 100%;
      border-right: none;
    }
    #kjønn2 {
      display: flex;
      border: 1px solid black;
      background-color: #D9D9D9;
      height: 50px;
      width: 100%;
      border-right: none;
    }
    #left2 {
      display: none;
    }
    #right2 {
      display: none;
    }
    #tekst-kjønn {
      font-family: "Inter", sans-serif;
      margin-top: 3%;
      font-size: larger;
    }
    #tekst-kjønn2 {
      font-family: "Inter", sans-serif;
      margin-top: 3%;
      font-size: larger;
    }
    #overskrift {
      display: none;
    }
    #flex-container {
      display: flex;
      gap: 18px;
      list-style: none;
      margin-top: 1%;
    }
    #tilbud {
      display: flex;
      grid-area: tilbud;
      width: 100%;
      height: 100%;
      border: 1px solid black;
    }
    #desktop-overskrift {
         font-family: "Inter", sans-serif;
         margin-top: 1.6%;
         margin-left: 2%;
    }

    #p-tilbud {
      margin-left: 5%;
      font-size: large;
      font-family: "Inter", sans-serif;
    }
    #p-frakt {
      margin-left: 60%;
      font-size: large;
      font-family: "Inter", sans-serif;
    }


    #fakta-bedrift {
      display: none;
    }

    #section-carousel {
      display: none;
    }
    #img-jordan {
      width: 950px;
      height: 180px;
      margin-left: 3%;
      margin-top: 1%;
    }
    header{
      grid-area: header;
  }
  nav {
      grid-area: nav;
  }
  main {
      grid-area: main;
  }
  footer {
      grid-area: footer;
  }
  /*Slutt desktop forside CSS*/
  /*Start på desktop produktside*/
  #produktfilter {
    grid-area: nav2;
  }

  #produktside-grid-container {
    display: grid;
    grid-template-areas:  "nav nav header"
                          "nav2 nav2 nav2"
                          "main main main"
                          "footer footer footer";
   grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
  grid-gap: 0px; /* Adjust the gap between columns as needed */
  }
  #image-resize {
    display: none;
  }
  #image-flex1 {
    display: none;
  }
  #image-flex2 {
    display: none;
  }
  #stor-bilde {
    display: none;
  }

  #overskrift-cursor {
    display: none;
  }

  #filter-image {
   display: none;
  }
  #produkt-h1 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-left: 2%;
    transform: translateY(-18px);
  }
  #undertekst {
    font-family: "Inter", sans-serif;
    margin-left: 2%;
    transform: translateY(-37px);
  }
  #filter-image2 {
    width: 12%;
    height: 35px;
    margin-left: 2%;
    transform: translateY(-37px);
   }

   #wrapped-stor-paragraf {
    display: none;
   }

   #desktop-hjem {
    margin-left: 2%;
    font-family: "Inter", sans-serif;
    font-weight: lighter;
   }

   #desktop-filters {
    display: flex;
   }












}

/* Mobile media query */
@media screen and (max-width: 600px) {
    body {
      margin: 0%;
    }
    /*Start på forside css*/
    #grid-div-container {
        display: grid;
        grid-template-areas:  "header" 
                                "nav" 
                                "tilbud"
                                "main"
                                "article"
                                "footer";
    }
    header{
        grid-area: header;
    }
    nav {
        grid-area: nav;
    }

    main {
        grid-area: main;
    }
    footer {
        grid-area: footer;
    }
    #desktop-filters {
      display: none;
    }
    #desktop-hjem {
      display: none;
    }
    #filter-image2 {
      display: none;
    }
    #desktop-paragraf {
      display: none;
    }
    #desktop-retur {
      display: none;
    }
    #desktop-kolleksjoner {
      display: none;
    }
    #desktop-produkter {
      display: none;
    }
    #to-store-bilder {
      display: none;
    }
    #desktop-bilde-section {
      display: none;
    }
    #img-jordan {
      height: 140px;
      width: 331px;
    }
    #desktop-knapp-bilde {
      display: none;
    }
    #glass2 {
      display: none;
    }
    #input {
      display: none;
    }
    #p-frakt {
      display: none;
    }
    #tekst-kjønn2 {
      display: none;
    }
    #desktop-overskrift {
      display: none;
    }
    #left{
        width: 33px;
        height: 33px;
        margin-top: 2rem;
        margin-left: 0.5rem;
    }
    #left2{
      width: 33px;
      height: 33px;
      margin-top: 2rem;
      margin-left: 0.5rem;
  }
    #icon-wrapper{
        margin-right: 5px;
        margin-left: 13px;
    }
    #right1{
        width: 33px;
        height: 33px;
        margin-top: 2rem;
        margin-left: 0.3rem;
    }
    #right3{
      width: 33px;
      height: 33px;
      margin-top: 2rem;
      margin-left: 0.3rem;
  }
    #right2{
      width: 33px;
      height: 33px;
      margin-top: 2rem;
      margin-left: 0.3rem;
  }
    #logo{
        margin-left: 23px;
        margin-top: 0.8rem;
    }
    #kjønn{
        border: 1px solid black;
        width: 388px;
        height: 40px;
        font-family: "Inter", sans-serif;
    }
    #kjønn2 {
      display: none;
    }
    #flex-container {
      display: flex;
      padding-left: 5px;
      list-style: none;
    }
    #knapp{
        width: 331px; 
        height: 140px;
        cursor:pointer;
    }

    #knapp2 {
        width: 331px; 
        height: 140px;
        cursor:pointer;
    }


    #banner {
        display: flex;
        flex-direction: row;
        width: 390px;
        height: 80px;
        background-color: #F5F5F5;
    }
    #tekst-kjønn{
        margin-left: 45px;
    }
    #produktbilde-1{
        margin-top: 8px;
        margin-left: 25px;
        border: 1px solid black;
        border-radius: 1%;
        height: 140px;
        width: 331px;
    }
    #p-tilbud{
        margin-top: 4px;
        text-align: center;
    }
    #p-tilbud:hover{
        margin-top: 4px;
        text-align: center;
        cursor:pointer;
    }
    #tilbud{
        border: 1px solid black;
        height: 30px;
        width: 388px;
        font-family: "Inter", sans-serif;
        grid-area: tilbud;
    }
    #overskrift{
        font-size: 22px;
    }
    #grid{
        margin-bottom: 20%;
        border: 1px solid black;
        border-radius: 1%;
        height: 139px;
        width: 331px;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-columns: repeat(3, 1fr);
    }
    #child {
        background-color: #D9D9D9;
        border: 1px solid rgba(0, 0, 0, 0.8);
        margin-top: 20px;
        margin-left: 10px;
        width: 90px;
        height: 31px;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        font-family: "Inter", sans-serif;
      }

      #section-carousel {
        margin-top: 13px;
        height: 139px;
        width: 331px;
        border: 1px solid black;
        border-radius: 2px;
        margin-left: 29px;

        display: inline-block;
        position: relative;
      }
      #bildeknapp {
        position: absolute;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        top: 80px;
        left: 290px;
        width: 50px;
        height: 50px;
        background-color: #D9D9D9;
        border-radius: 100%;
        border: 0px solid white;
      }
      #first-dot {
        position: absolute;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        top: 124px;
        left: 170px;
        width: 20px;
        height: 20px;
        background-color: #D9D9D9;
        border: 1px solid black;
        border-radius: 100%;
      }
      #second-dot {
        position: absolute;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        top: 124px;
        left: 143px;
        width: 20px;
        height: 20px;
        background-color: #D9D9D9;
        border: 1px solid black;
        border-radius: 100%;
      }
      #third-dot {
        position: absolute;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        top: 124px;
        left: 197px;
        width: 20px;
        height: 20px;
        background-color: #D9D9D9;
        border: 1px solid black;
        border-radius: 100%;
      }

      #first-dot-black {
        position: absolute;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        top: 124px;
        left: 170px;
        width: 14px;
        height: 14px;
        background-color: #000000;
        border: 1px solid black;
        border-radius: 100%;
      }
      #second-dot-black {
        position: absolute;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        top: 124px;
        left: 143px;
        width: 14px;
        height: 14px;
        background-color: #000000;
        border: 1px solid black;
        border-radius: 100%;
      }
      #third-dot-black {
        position: absolute;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        top: 124px;
        left: 197px;
        width: 14px;
        height: 14px;
        background-color: #000000;
        border: 1px solid black;
        border-radius: 100%;
      }
      #fakta-bedrift {
         width: 331px;
         margin-left: 29px;
         height: 124px;
         border: 1px solid black;
         grid-area: article;
         margin-top: 13px;
      }
      #overskrift-fakta {
         margin-left: 20px;
         margin-top: 8px;
         font-weight: bolder;
         font-family: "Inter", sans-serif; 
      }
      #bedrift-paragraf {
        margin-top: -14px;
        margin-left: 20px;
        font-size: 14px;
        font-family: "Inter", sans-serif;
      }
      #forside-footer {
        margin-top: 11px;
        grid-area: footer;
        width: 388px;
        height: 72px;
        border-radius: 1px;
        background-color: #D9D9D9;
      }


      #øvre-footer {
        height: 50%;
        border: 1px solid black;
        display: flex;
      }
      #øvre-footer-bilde {
        margin-left: 190px;
      }
      #nedre-footer {
        height: 50%;
        border: 1px solid black;
        display: flex;
      }
      #nedre-footer-bilde {
        margin-left: 255px;
      }
      #footer-tekst {
        margin-top: 5px;
        margin-left: 10px;
      }
      /*Slutt på forside css*/
      /*Under er style for produktsiden*/
      #produktside-grid-container {
        display: grid;
        grid-template-areas: "header"
                              "main"
                              "footer";
      }
      #overskrift-cursor {
        cursor: pointer;
        font-size: 22px;
      }
      #produkt-filter {
        width: 388px;
        height: 45px;
        border: 1px solid black;
      }
      #filter-image {
        width: 119px;
        height: 37px;
        margin-left: 190px;
        margin-top: 3px;
      }
      #produkt-h1 {
        margin-top: 1px;
        margin-left: 6px;
      }
      #produkt-flex {
        display: flex;
      }
      #undertekst {
        position: absolute;
        top: 10.8%;
        left: 1.6%;
        font-family: "Inter", sans-serif;
      }
      #h1-wrapper {
        width: 75px;
        height: 20px;
        font-family: "Inter", sans-serif;
      }
      #image-flex1 {
        display: flex;
        margin-top: 2%;
        margin-left: 3%;
        gap: 2%;
      }
      #image-flex2 {
        display: flex;
        margin-top: 2%;
        margin-left: 3%;
        margin-top: 1%;
        gap: 2%;
      }

      #image-resize {
        width: 178px;
        height: 148px;
        border: 1px solid black;
      }

      #article-box {
        width: 178px;
        height: 59px;
        border: 1px solid black;
      }

      #stor-bilde {
        margin-top: 3%;
        margin-left: 2%;
         width: 372px;
         height: 104px;
         border: 1px solid black;
      }

      #beskrivelse-bilde {
        width: 372px;
        height: 57px;
        border: 1px solid black;
        margin-top: 2%;
        margin-left: 2%;
      }

      #forside-footer2 {
        margin-top: 4%;
        grid-area: footer;
        width: 388px;
        height: 72px;
        border-radius: 1px;
        background-color: #D9D9D9;
      }

      #stor-bilde-img {
        width: 372px;
        height: 104px;
      }

      #wrapped-paragraf {
        font-weight: bold;
        font-family: "Inter", sans-serif;
        margin-left: 3%;
        margin-top: 1%;
      }

      #wrapped-stor-paragraf {
        font-weight: bold;
        font-family: "Inter", sans-serif;
        margin-left: 3%;
        margin-top: 0%;
      }
     /*Slutt på produktside-css*/
     /*Start på returside css*/
     #returside-grid-container {
      display: grid;
      grid-template-areas: "header"
                            "main"
                            "footer";
    }

    #retur-overskrift {
      margin-left: 5%;
      font-weight: bold;
      font-family: "Inter", sans-serif;
    }

    #retur-paragraf {
      font-family: "Inter", sans-serif;
      margin-left: 5%;
      top: -13px;
      position: relative;
    }

    #returknapp {
      width: 178px;
      height: 46px;
      background-color: black;
      color: white;
      text-align: left;
      margin-left: 5%;
      font-family: "Inter", sans-serif;
      font-size: medium;
      position: absolute;
      top: 23%;
    }

    #høyre-pil1 {
      position: absolute;
      top: 23%;
      right: 50%;
    }

    #bakgrunn-liste1 {
      width: 353px;
      height: 45px;
      background-color: #D9D9D9;
      position: relative;
      right: 6%;
      margin-top: 20%;
    }

    #bakgrunn-liste2 {
      width: 353px;
      height: 45px;
      background-color: #D9D9D9;
      position: relative;
      right: 6%;
      margin-top: 3%;
    }

    #refusjon {
      width: 178px;
      height: 46px;
      background-color: #000000;
      color: white;
      text-align: left;
      margin-left: 5%;
      margin-top: 3%;
      font-family: "Inter", sans-serif;
      font-size: medium;
    }

    #høyre-pil2 {
      position: absolute;
      top: 67%;
      right: 50%;
    }

    #refusjon-paragraf {
      font-family: "Inter", sans-serif;
      margin-left: 5%;
    }

    #returfooter {
      margin-top: 10%;
      grid-area: footer;
      width: 390px;
      height: 72px;
      border-radius: 1px;
      background-color: #D9D9D9;
    }

    #tekst-inni-bokser {
      margin-left: 3%;
      top: 1%;
      position: absolute;
      font-family: "Inter", sans-serif;
    }

    #pluss-margin {
      margin-left: 85%;
    }













    }

        /* Bruk display none for å skille mellom desktop og mobile versjon */
